// breadcrumb css
.breadcrumb-section {
    padding-top: 39.2rem;
    @include media-breakpoint-down(xl){ padding-top: 25.2rem; }
    @include media-breakpoint-down(lg){ padding-top: 16.2rem; }
    @include media-breakpoint-down(md){ padding-top: 14.5rem; }
}
.breadcrumb {
    --#{$prefix}breadcrumb-font-size: 1.8rem;
    --#{$prefix}breadcrumb-item-padding-x: 1.2rem;
    --#{$prefix}breadcrumb-divider-color: var(--#{$prefix}light);
    --#{$prefix}breadcrumb-item-active-color: var(--#{$prefix}gray);
    --#{$prefix}breadcrumb-icon-color: var(--#{$prefix}breadcrumb-divider-color);
    --#{$prefix}breadcrumb-bg: none;
    --#{$prefix}breadcrumb-border-radius: 0;
}
.breadcrumb-item {
    --#{$prefix}breadcrumb-icon: url("data:image/svg+xml,%0A%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5H11M11 5L7 1M11 5L7 9' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    & > a {
        transition: all 0.15s ease-in-out;
        text-decoration: none;
        &:hover { color: var(--#{$prefix}breadcrumb-item-active-color); }
    }
    &.breadcrumb-item:not(:first-child)::before {
        font-family:var(--fa-style-family,"Font Awesome 6 Pro");
        content: "\f061";
        position: relative;
        top: 0.2rem;
        color: var(--#{$prefix}breadcrumb-icon-color);
    }
}
.breadcrumb-section2 {
    padding-top: 3rem;
}
.breadcrumb2 {
    --#{$prefix}breadcrumb-font-size: 1.8rem;
    --#{$prefix}breadcrumb-item-padding-x: 1.2rem;
    --#{$prefix}breadcrumb-divider-color: var(--#{$prefix}secondary);
    --#{$prefix}breadcrumb-item-active-color: var(--#{$prefix}body-color);
    --#{$prefix}breadcrumb-icon-color: var(--#{$prefix}breadcrumb-divider-color);
    --#{$prefix}breadcrumb-bg: none;
    --#{$prefix}breadcrumb-border-radius: 0;
}

.product-innhero-bg {
    --voltura-bg: url('../images/backgrounds/banner-product-img.jpg');

    --voltura-bg-gradient: linear-gradient(-90deg, rgba(0, 0, 0, 0) 37.96%, rgba(0, 0, 0, 0.5) 100%);
    --voltura-gradient-position: none;
}