:root,
[data-bs-theme="light"] {
    --#{$prefix}body-color: #2F353D;
    --#{$prefix}body-color-rgb: 47, 53, 61;
    --#{$prefix}primary: #1279F2;
    --#{$prefix}primary-rgb: 18, 121, 242;
    --#{$prefix}secondary: #65717E;
    --#{$prefix}secondary-rgb: 101, 113, 126;
    --#{$prefix}body-bg: #ffffff;
    --#{$prefix}body-bg-rgb: 255, 255, 255;
    --#{$prefix}border-color: #E0E4E9;
    --#{$prefix}border-color-rgb: 224, 228, 233;
    --#{$prefix}link-color-rgb: var(--#{$prefix}body-color-rgb);
    --#{$prefix}link-color: var(--#{$prefix}body-color);
    --#{$prefix}link-hover-color: var(--#{$prefix}primary);
    --#{$prefix}link-hover-color-rgb: var(--#{$prefix}primary-rgb);
    --#{$prefix}font-family-base: "Plus Jakarta Sans", serif;
    --#{$prefix}font-family-code: "Poppins", serif;
    --#{$prefix}font-weight-base: 400; 
    --#{$prefix}line-height-base: 1.55; 

    //------- scss-docs-start headings-variables
    --#{$prefix}headings-font-family: "Plus Jakarta Sans", serif;
    --#{$prefix}headings-font-weight: 800;
    --#{$prefix}headings-line-height: 1.25;
    --#{$prefix}headings-color: var(--#{$prefix}body-color);
    //----- scss-docs-end headings-variables
    
    //----- scss-docs-start display-headings
    --#{$prefix}display-font-family: "Plus Jakarta Sans", serif;
    --#{$prefix}display-font-weight: 800;
    //----- scss-docs-end display-headings

    --#{$prefix}light: #fff;
    --#{$prefix}light-rgb: 255, 255, 255;

    --#{$prefix}blue: #1279F2;
    --#{$prefix}blue-rgb: 18, 121, 242;
    --#{$prefix}gray: #B0B5BB;
    --#{$prefix}border-radius: 0.9rem;
    --#{$prefix}border-radius-sm: 0.6rem;
    --#{$prefix}border-radius-lg: 0.8rem;
    --#{$prefix}border-radius-xl: 1rem;
    --#{$prefix}border-radius-xxl: 1.5rem;
    --#{$prefix}border-radius-2xl: 2rem;
    --#{$prefix}border-radius-pill: 3rem;
    --#{$prefix}box-shadow: 0px 8px 40px 0px rgba(1, 22, 36, 0.08);
    --#{$prefix}box-shadow-sm: 0px 7px 18px 0px rgba(0, 0, 0, 0.09);

}
[data-bs-theme="dark"] {
    --#{$prefix}body-color: #2F353D;
    --#{$prefix}body-color-rgb: 47, 53, 61;
    --#{$prefix}primary: #1279F2;
    --#{$prefix}primary-rgb: 18, 121, 242;
    --#{$prefix}secondary: #65717E;
    --#{$prefix}secondary-rgb: 101, 113, 126;
    --#{$prefix}body-bg: #ffffff;
    --#{$prefix}body-bg-rgb: 255, 255, 255;
    --#{$prefix}border-color: #E0E4E9;
    --#{$prefix}border-color-rgb: 224, 228, 233;
    --#{$prefix}link-color-rgb: var(--#{$prefix}body-color-rgb);
    --#{$prefix}link-color: var(--#{$prefix}body-color);
    --#{$prefix}link-hover-color: var(--#{$prefix}primary);
    --#{$prefix}link-hover-color-rgb: var(--#{$prefix}primary-rgb);

    --#{$prefix}headings-color: var(--#{$prefix}body-color);
    //----- scss-docs-end headings-variables

    --#{$prefix}light: #fff;
    --#{$prefix}light-rgb: 255, 255, 255;

    --#{$prefix}blue: #1279F2;
    --#{$prefix}blue-rgb: 18, 121, 242;
    --#{$prefix}gray: #B0B5BB;
}

html {
    font-size: 62.5%;
    @include media-breakpoint-down(md) {
        font-size: 52.5%;
        overflow-x: hidden;
    }
}
body{ padding-right: 0 !important; overflow-x: hidden; }
#wrapper {
    width: 100%;
}
br { @include media-breakpoint-down(xxl) { display: none; } }
.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
    --#{$prefix}gutter-x: 2.5rem;
    @include media-breakpoint-up(xl){ --#{$prefix}gutter-x: 6rem; }
    @include media-breakpoint-up(lg){ --#{$prefix}gutter-x: 4rem; }
    @include media-breakpoint-up(sm){ --#{$prefix}gutter-x: 3rem; }
}
h1 {
    @include media-breakpoint-between(lg, xl) { font-size: calc(1rem + 4.8vw); }
    @include media-breakpoint-between(md, lg) { font-size: calc(1rem + 3.65vw); }
    @include media-breakpoint-down(md) { font-size: calc(1rem + 3.4vw); }
}
h2 {
    @include media-breakpoint-between(lg, xl) { font-size: calc(1rem + 3.5vw); }
    @include media-breakpoint-between(md, lg) { font-size: calc(1rem + 2.88vw); }
    @include media-breakpoint-down(md) { font-size: calc(1.2rem + 2.5vw); }
}
h3 {
    @include media-breakpoint-between(lg, xl) { font-size: calc(1rem + 3vw); }
    @include media-breakpoint-between(md, lg) { font-size: calc(1rem + 2.8vw); }
    @include media-breakpoint-down(md) { font-size: calc(1.2rem + 2.3vw); }
}
h4 {
    @include media-breakpoint-between(lg, xl) { font-size: calc(1rem + 2.8vw); }
    @include media-breakpoint-between(md, lg) { font-size: calc(1rem + 2.4vw); }
    @include media-breakpoint-down(md) { font-size: calc(1.2rem + 2.2vw); }
}
h5 {
    @include media-breakpoint-between(lg, xl) { font-size: calc(1rem + 2.6vw); }
    @include media-breakpoint-between(md, lg) { font-size: calc(1rem + 2.2vw); }
    @include media-breakpoint-down(md) { font-size: calc(1.2rem + 2.1vw); }
}

.display-1 {
    @include media-breakpoint-between(lg, xl) { font-size: calc(1rem + 9.8125vw); }
    @include media-breakpoint-between(md, lg) { font-size: calc(1rem + 8.125vw); }
    @include media-breakpoint-down(md) { font-size: calc(1rem + 7.85vw); }
}
.display-2 {
    @include media-breakpoint-between(lg, xl) { font-size: calc(1rem + 8.8125vw); }
    @include media-breakpoint-between(md, lg) { font-size: calc(1rem + 7.125vw); }
    @include media-breakpoint-down(md) { font-size: calc(1rem + 6.85vw); }
}
.display-3 {
    @include media-breakpoint-between(lg, xl) { font-size: calc(1rem + 6.8125vw); }
    @include media-breakpoint-between(md, lg) { font-size: calc(1rem + 5.125vw); }
    @include media-breakpoint-down(md) { font-size: calc(1rem + 4.85vw); }
}
.display-4 {
    @include media-breakpoint-between(lg, xl) { font-size: calc(1rem + 5.8125vw); }
    @include media-breakpoint-between(md, lg) { font-size: calc(1rem + 4.125vw); }
    @include media-breakpoint-down(md) { font-size: calc(1rem + 3.85vw); }
}
.display-5 {
    @include media-breakpoint-between(lg, xl) { font-size: calc(1rem + 4.8125vw); }
    @include media-breakpoint-between(md, lg) { font-size: calc(1rem + 3.5vw); }
    @include media-breakpoint-down(md) { font-size: calc(1rem + 3.2vw); }
}
.display-6 {
    @include media-breakpoint-between(lg, xl) { font-size: calc(1rem + 3.8125vw); }
    @include media-breakpoint-between(md, lg) { font-size: calc(1rem + 3.2vw); }
    @include media-breakpoint-down(md) { font-size: calc(1rem + 3vw); }
}

svg {
    fill: none;
    stroke: currentColor;
}
.extra-heading-fm { font-family: "Geist", sans-serif; }
.lead-fs-22 { font-size: 2.2rem; }
.extra-fs-16 { font-size: 1.6rem; }
.extra-small {
    font-size: 1.2rem;
    line-height: 1.1;
}
.letter-spacing-n1 { letter-spacing: -0.22rem; }

.rounded-2xl { border-radius: 2rem; }
.rounded-24 { border-radius: 2.4rem; }
.bg-blue { background-color: var(--#{$prefix}primary); }
.text-blue { color: var(--#{$prefix}primary); }
.text-gray { color: var(--#{$prefix}gray); }
.bg-gray { background-color: var(--#{$prefix}gray); }

.px-2px { padding-left: 0.2rem; padding-right: 0.2rem; }
.px-4px { padding-left: 0.4rem; padding-right: 0.4rem; }
.py-2px { padding-top: 0.2rem; padding-bottom: 0.2rem; }
.py-4px { padding-top: 0.4rem; padding-bottom: 0.4rem; }
.pt-80 { @include media-breakpoint-up(xl) { padding-top: 8rem; } }
.pb-80 { @include media-breakpoint-up(xl) { padding-bottom: 8rem; } }

.pt-100 { @include media-breakpoint-up(xl) { padding-top: 10rem; } }
.pb-100 { @include media-breakpoint-up(xl) { padding-bottom: 10rem; } }
.py-100 { @include media-breakpoint-up(xl) { padding-top: 10rem; padding-bottom: 10rem; } }

.ps-100 { @include media-breakpoint-up(xl) { padding-left: 10rem; } }
.pe-100 { @include media-breakpoint-up(xl) { padding-right: 10rem; } }
.px-100 { @include media-breakpoint-up(xl) { padding-left: 10rem; padding-right: 10rem; } }

.pt-120 { @include media-breakpoint-up(xl) { padding-top: 12rem; } }
.pb-120 { @include media-breakpoint-up(xl) { padding-bottom: 12rem; } }
.py-120 { @include media-breakpoint-up(xl) { padding-top: 12rem; padding-bottom: 12rem; } }

.pt-135 { @include media-breakpoint-up(xl) { padding-top: 13.5rem; } }
.pb-135 { @include media-breakpoint-up(xl) { padding-bottom: 13.5rem; } }
.py-135 { @include media-breakpoint-up(xl) { padding-top: 13.5rem; padding-bottom: 13.5rem; } }

.pt-150 { @include media-breakpoint-up(xl) { padding-top: 15rem; } }
.pb-150 { @include media-breakpoint-up(xl) { padding-bottom: 15rem; } }
.py-150 { @include media-breakpoint-up(xl) { padding-top: 15rem; padding-bottom: 15rem; } }

.pt-168 { @include media-breakpoint-up(xl) { padding-top: 16.8rem; } }
.pb-168 { @include media-breakpoint-up(xl) { padding-bottom: 16.8rem; } }
.py-168 { @include media-breakpoint-up(xl) { padding-top: 16.8rem; padding-bottom: 16.8rem; } }

.pt-175 { @include media-breakpoint-up(xl) { padding-top: 17.5rem; } }
.pb-175 { @include media-breakpoint-up(xl) { padding-bottom: 17.5rem; } }
.py-175 { @include media-breakpoint-up(xl) { padding-top: 17.5rem; padding-bottom: 17.5rem; } }

.pt-180 { @include media-breakpoint-up(xl) { padding-top: 18rem; } }
.pb-180 { @include media-breakpoint-up(xl) { padding-bottom: 18rem; } }
.py-180 { @include media-breakpoint-up(xl) { padding-top: 18rem; padding-bottom: 18rem; } }

// bg-color class
.floral-white { background-color: var(--floral-white, #FFF9F5); }
.neon-white { background-color: var(--neon-white,#F4FCFC); }
.ghost-white { background-color:var(--ghost-white, #F6F9FF); }
.grayish-orange { background-color: var(--grayish-orange,#F4EEE9); }
.grayish-blue { background-color: var(--grayish-blue,#F3F5F8); }
.pale-red { background-color: var(--pale-red,#FFF6F6); }
.grayish-violet { background-color: var(--grayish-violet,#F6F3FD); }

.light-grayish { background-color: var(--light-grayish,#ECF2F9); }
.grayish-cyan { background-color: var(--grayish-cyan,#eef7f8 ); }
.light-grayish-blue { background-color: var(--light-grayish-blue,#edf4fa ); }
.light-grayish-violet { background-color: var(--light-grayish-violet,#f2eef8 ); }
.lime-green { background-color: var(--lime-green,#EDF8F0 ); }
.light-gray-red { background-color: var(--light-gray-red,#F8ECEC ); }

.bg-light-gray { background-color: var(--bg-color, #F5F5F7) }
.bg-light-gray2 { background-color: var(--bg-color2, #F4F6F8) }
.bg-light-gray3 { background-color: var(--bg-color3, #F9F9F9) }

.mx-w255 { max-width: 255px; }
.mx-w380 { max-width: 380px; }
.mx-w500 { @include media-breakpoint-up(lg) { max-width: 501px; } }
.mx-w590 { @include media-breakpoint-up(md) { max-width: 590px; } }
.mx-w610 { max-width: 610px; }
.mx-w625 { max-width: 626px; }
.mx-w640 { max-width: 640px; }
.mx-w922 { max-width: 922px; }
.mx-w720 { @include media-breakpoint-up(lg) { max-width: 720px; } }
.mx-h { @include media-breakpoint-down(lg) {max-height: 32.5rem;} }
.mx-h-1015 { max-height: 1015px; @include media-breakpoint-down(lg) { max-height: 550px; } }
.w-fit-content { width: fit-content;}

.currentColor { color: currentColor;}
.backdrop-blur{ backdrop-filter: blur(25px);}
// link hove style
.link-hover {
    &:hover { color: var(--#{$prefix}primary); }
}
.badge-shadow { box-shadow: 0px 8px 40px 0px rgba(1, 22, 36, 0.08); }
// text outline
[data-text="stroke"] {
    font-family: var(--#{$prefix}font-family-code);
    opacity: 0;
}
.voltura-footer-text {
    --#{$prefix}text-circle-size: 5.21vw;
    --#{$prefix}radius-circle: 50%;
    position: relative;
    &::before,
    &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
    }
    &::before {
        width: calc(var(--#{$prefix}text-circle-size) + 2.08vw);
        height: calc(var(--#{$prefix}text-circle-size) + 2.08vw);
        border-radius: var(--#{$prefix}radius-circle);
        background-color: var(--bg-color, #F5F5F7);
    }
    &::after {
        width: var(--#{$prefix}text-circle-size);
        height: var(--#{$prefix}text-circle-size);
        border-radius: var(--#{$prefix}radius-circle);
        background-color: var(--#{$prefix}primary);
        bottom: calc(var(--#{$prefix}text-circle-size) - 4.16vw);
        right: calc(var(--#{$prefix}text-circle-size) - 4.16vw);
    }
}
.fs-41 {
    font-size: 20vw;
    padding-right: 4vw;
    color: var(--#{$prefix}footer-text-color, #EBEBEF);
}
.text-bottom{ margin-bottom: calc(-1 * calc(var(--text-height)/2.52)); }
.fw-800 { font-weight: 800; }
.fw-200 { font-weight: 200; }
.cursor-point { cursor: pointer; }
.border-color2 { border-color: #B0B5BB; }
.border-color3 { border-color: #65717E; }

.sticky-product-wrap {
    transition: all 0.25s ease-in-out;
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    &.sticky-product {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}
.sticky-product-img {
    --sticky-product-img: 58px;
    width: var(--sticky-product-img);
    height: var(--sticky-product-img);
}

// hero-bg hero-gradient
.hero-bg {
    --hero-bg: url('../images/backgrounds/hero-bg1.jpg');
    --hero-repeat: no-repeat;
    --hero-size: cover;
    --hero-position: center bottom;
    --hero-opacity: initial;

    background-image: var(--hero-bg);
    background-repeat: var(--hero-repeat);
    background-size: var(--hero-size);
    background-position: var(--hero-position);
}
.hero-gradient {
    --hero-linear-bg: url('../images/backgrounds/gradient-overlay.png');
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
        background-image: var(--hero-linear-bg);
        background-repeat: repeat;
    }
}
.bg-voltura-img {
    --voltura-bg: url('../images/backgrounds/banner-pc1.jpg');
    --voltura-repeat: no-repeat;
    --voltura-size: cover;
    --voltura-position: center top;
    --voltura-opacity: initial;

    background-image: var(--voltura-bg);
    background-repeat: var(--voltura-repeat);
    background-size: var(--voltura-size);
    background-position: var(--voltura-position);
}
.bg-voltura-gradient {
    --voltura-bg-gradient: linear-gradient(180deg, rgba(0, 15, 41, 0) 39.06%, rgba(0, 15, 41, 0.5) 100%);
    --voltura-gradient-position: bottom;
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: var(--voltura-gradient-position);
        left: 0;
        z-index: 0;
        background: var(--voltura-bg-gradient);
    }
}

// svg stroke line animation css
.feature-icon {
    --svg-icon-color: #ACB7C2;
    color: var(--svg-icon-color);
}
.animation-icon {
    stroke-width: 1;
    stroke-miterlimit:0;
}
.animation-stroke {
    stroke-dasharray: 1200px;
    stroke-dashoffset: 1200px;
    animation: animateSvgStroke 4s 0.3s linear forwards;
}
@keyframes animateSvgStroke {
    100% {
        stroke-dashoffset: 0;
    }
}

// #back-to-top css
#back-to-top {
    width: var(--back-top-size);
    height: var(--back-top-size);
    padding: 0.5rem;
    right: 25px;
    bottom: 25px;
    z-index: 102;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.18s ease-in-out;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    &.show-back-top {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.back-top-icon { color: #fff; }

.view-product-container {
    display: none;
    z-index: 991;
    width: calc(calc(86% - 38px));
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: calc(calc(86% - 38px));
}