.view-product-img {
    width: 60px;
    min-width: 60px;
    height: 60px;
    padding: 0.3rem;
}
.view-cart-price-wrap {
    width: calc((100% - 0px) / 1);
    padding-right: 20px;
}
.icon-cross-shop {
    width: 20px;
    height: 20px;
    cursor: pointer;
}