.gradient-overlay {
    --gradient-bg-overlay: #F5F5F7;
    --gradient-bg-overlay-rgb: 245, 245, 247;
    position: relative;
    &::after,
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        z-index: 2;
    }
    &::before {
        top: 0;
        background: linear-gradient(180deg, var(--gradient-bg-overlay, #F5F5F7) 0%, rgba(var(--gradient-bg-overlay-rgb), 0) 100%);
        max-height: 215px;
        @include media-breakpoint-down(md){ max-height: 132px; }
    }
    &::after {
        bottom: 0;
        background: linear-gradient(360deg, var(--gradient-bg-overlay, #F5F5F7) 0%, rgba(var(--gradient-bg-overlay-rgb), 0) 100%);
        max-height: 202px;
        @include media-breakpoint-down(md){ max-height: 132px; }
    }
}
.review-card-col-wrap {
    --animation-dir: forwards;
    --animation-duration: 75s;
    transition: all .5s ease-in;
    &[data-dir="top"] { --animation-dir: forwards; }
    &[data-dir="bottom"] { --animation-dir: reverse; }
    &[data-speed="fast"] { --animation-duration: 10s; }
    &[data-speed="medium"] { --animation-duration: 15s; }
    &[data-speed="slow"] { --animation-duration: 25s; }
    animation: scrollTop var(--animation-duration) var(--animation-dir) linear infinite;

    &:hover { animation-play-state: paused; }
}
.card-rating-wrap { width: fit-content; }
.review-icons-regular {
    .star-icon {
        color: var(--#{$prefix}secondary);
    }
}
.star-icon {
    cursor: pointer;
    & + .star-icon { margin-left: 0.5rem; }
}
.review-icons-solid {
    .star-icon {
        color: var(--#{$prefix}primary);
    }
}
.rating-select-wrap {
    .star-icon {
        color: var(--#{$prefix}primary);
        opacity: 0;
    }
    .select-rating {
        opacity: 1;
    }
}
.card-review-img {
    --author-img-size: 50px;
    width: var(--author-img-size);
    height: var(--author-img-size);
}
.card-review-designation {font-size: 1.6rem;}

@keyframes scrollTop {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50%);
    }
}

// review-post css
.review-rating-wrap { --#{$prefix}primary: #65717E; }
.drag-drop-wrap { --#{$prefix}border-style: dashed; }
.review-post-col {
    & + .review-post-col {
        margin-top: 3rem;
        @include media-breakpoint-down(lg){ margin-top: 2rem; }
    }
}