$prefix: bs-;
// spacer
$spacer: 1rem;
$spacers: (
    0: 0,
    1: $spacer,
    2: $spacer * 2,
    3: $spacer * 3,
    4: $spacer * 4,
    5: $spacer * 5,

    // custom
    6: $spacer * 0.6,
    8: $spacer * 0.8,
    12: $spacer * 1.2,
    15: $spacer * 1.5,
    22: $spacer * 2.2,
    25: $spacer * 2.45,
    32: $spacer * 3.2,
    35: $spacer * 3.5,
    38: $spacer * 3.8,
    45: $spacer * 4.5, 
    40: $spacer * 4,
    48: $spacer * 4.8,
    50: $spacer * 5,
    55: $spacer * 5.5,
    60: $spacer * 6,
    65: $spacer * 6.5,
    70: $spacer * 7,
);
// end spacers

// Define the maximum width of `.container` for different screen sizes.
// scss-docs-start grid-breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
// container-max-widths
$container-max-widths: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1300px,
  xxl: 1630px
);

// font family
// ==============Typography
$font-weight-base: 400;
$line-height-base: 1.55;
$font-family-sans-serif: var(--#{$prefix}font-family-base);

// headings
$headings-font-weight: var(--#{$prefix}headings-font-weight);
$headings-font-family: var(--#{$prefix}headings-font-family);
$headings-line-height: var(--#{$prefix}headings-line-height);
$headings-color: var(--#{$prefix}headings-color);
// ==============Typography


// ==============Font Sizes
$font-size-base: 1.8rem; //18px

$h1-font-size:                6.8rem; //68px
$h2-font-size:                5.2rem; //52px
$h3-font-size:                4.2rem; //42px
$h4-font-size:                3.6rem; //36px
$h5-font-size:                2.8rem; //28px
$h6-font-size:                $font-size-base; //18px

$small-font-size:             1.4rem;
$lead-font-size:              $font-size-base * 1.1111;
$lead-font-weight:            700;

$display-font-sizes: (
  1: 30.0rem, //300px
  2: 20.0rem, //200px  
  3: 15rem, // 150px
  4: 9rem, // 90px
  5: 4.8rem, // 48px
  6: 3.4rem // 34px
);
// ==============Font Sizes
// z-index
$zindex-levels: (
    n1: -1,
    0: 0,
    1: 1,
    2: 2,
    3: 3,
    5: 5,
    6: 6
  );
$enable-negative-margins: true;
$enable-important-utilities: false;